@import 'bootstrap/bootstrap';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.root {
  width: 100vw;
  min-height: 100vh;
}

.body {
  min-height: calc(100vh - 85px - 100px);
}

.navbar {
  background-color: $teal-300;
  height: 85px;
  &__icon {
    height: 100%;
    max-height: 50px;
  }
}

.footer {
  height: 100px;
  width: 100vw;
  background-color: $gray-300;
}
