// To be replaced with import from npm in future: https://github.com/ember-cli/ember-cli/issues/8524
// @import '../../node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/bootstrap';

.preview-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;

  @media only screen and (max-width: 992px) {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
  }
}

.book-preview {
  background-color: $white;
}

// constrain title to one line with ellipsis
.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;

  &-1 {
    -webkit-line-clamp: 1;
  }

  &-3 {
    -webkit-line-clamp: 3;
  }
}

.text-error {
  color: red;
  font-weight: bold;
}
