<li class='card book-preview'>
  <div class='card-body'>
    <LinkTo @route='books.view' @query={{hash id=@id}}>
      <h5 class='card-title ellipsis ellipsis-2'>{{@title}}</h5>
    </LinkTo>
    <h6 class='card-subtitle mb-2 text-muted'>By {{@author.name}}</h6>
  </div>
</li>