<footer class='footer'>
  <div class='container py-3 d-flex align-items-center'>
    <ul class='list-unstyled'>
      <li>
        &copy; 2023 Jin Xuan Ow Yong
      </li>
      <li>
        <a
          href='https://github.com/jinxuan-owyong/'
          class='link-secondary'
        >GitHub</a>
        &nbsp;&#124;&nbsp;
        <a
          href='https://www.linkedin.com/in/owyongjinxuan/'
          class='link-secondary'
        >LinkedIn</a>
      </li>
    </ul>
  </div>
</footer>