<footer class='footer px-5 py-3 d-flex flex-column justify-content-center'>
  <ul class='m-0 p-0 list-unstyled'>
    <li>
      &copy; 2023 Jin Xuan Ow Yong
    </li>
    <li>
      <a
        href='https://github.com/jinxuan-owyong/'
        class='link-secondary'
      >GitHub</a>
      &nbsp;&#124;&nbsp;
      <a
        href='https://www.linkedin.com/in/owyongjinxuan/'
        class='link-secondary'
      >LinkedIn</a>
    </li>
  </ul>
</footer>