<PreviewList @heading='Our Collection'>
  {{#if @model}}
    {{#each @model as |collection|}}
      <BookPreview
        @title={{collection.title}}
        @author={{collection.author}}
        @id={{collection.id}}
      />
    {{/each}}
  {{else}}
    <p>
      <span class='text-error'>
        Error:
      </span>
      Failed to load books
    </p>
  {{/if}}
</PreviewList>

<div class='container-sm pb-5'>
  <div class='d-flex flex-column'>
    <p>
      Have a book to share? Add your book to our collection!
    </p>
    <LinkTo @route='books.add' class='btn btn-warning justify-self-start'>Share
      a book</LinkTo>
  </div>
</div>